.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #6f42c1; /* Morado */
    --bs-btn-border-color: #6f42c1;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #5a3796; /* Morado más oscuro */
    --bs-btn-hover-border-color: #5a3796;
    --bs-btn-focus-shadow-rgb: 111, 66, 193;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #4b2f7d; /* Aún más oscuro */
    --bs-btn-active-border-color: #4b2f7d;
}



