.btn-custom {
    background-color: rgb(162, 162, 162) !important; /* Gris claro */
    border: 1px solid rgb(255, 255, 255); /* Borde gris */
    color: rgb(245, 240, 240); /* Texto oscuro */
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados */
}

.btn-custom:hover {
    background-color: #a09f9f; /* Un poco más oscuro al pasar el cursor */
}
